<!-- Put common HTML code in here -->

{% load staticfiles %}

<html>
  <head>
    <title>Elevennote</title>
    <link rel="stylesheet" media="all" href='{% static "bootstrap/css/bootstrap.css" %}'>
    <link rel="stylesheet" media="all" href='{% static "elevennote/main.css" %}'>
    <link rel="stylesheet" type="text/css" media="screen"
          href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic|Oxygen:400,300,700" />
    <script src="{% static "elevennote/jquery.js" %}"></script>
    <script src="{% static "elevennote/main.js" %}"></script>

    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <div class="container wrap">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <div class="well">
                        <a href="/">
                        ElevenNote
                        </a>
                        {% if user.is_authenticated %}
                            <div class="user-links">
                                Signed in as {{ user.username }}.
                                <a href="{% url 'note:profile' %}">Profile</a> | 
                                <a href="{% url 'logout' %}">Logout</a>
                            </div>
                        {% endif %}
                    </div>
                </header>
            </div>

            <div class="container">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>
