<!-- Put common HTML code in here -->

{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" media="all" href='{% static "bootstrap/css/bootstrap.css" %}'>

    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/">
	    ElevenNote
	  </a>
	</div>
	{% if user.is_authenticated %}
	<div class="navbar-header navbar-right">
	  <p class="navbar-text navbar-right">
	    Signed in as {{ user.username }}.
	    <a href="#">Profile</a> | 
	    <a href="{% url 'logout' %}">Logout</a>
	  </p>
	</div>
	{% endif %}
      </div>
    </nav>

    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
