{% extends "base.html" %}

{% block extra_head %}
{% load wysiwyg %}
{% wysiwyg_setup %}
{% endblock %}

{% block content %}

<div class="container-fluid">

<div class="col-md-3 pull-left">

  <div class="row new-note">
    <button href="{% url 'note:create' %}" class="btn btn-primary">Create a new note</button>
    <br>&nbsp;
  </div>

  <div class="row notes">
    {% if notes %}
      {% for note in notes %}
        <a href="{% url 'note:update' note.id %}">{{ note.title }}</a><br />
        {{ note.body | safe }}
	<hr />
      {% endfor %}
    {% else %}
      <p>No notes are available.</p>
    {% endif %}
  </div>
</div>

<div class="col-md-9">

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if object %}
<form action="{% url 'note:update' object.pk %}" method="post" accept-charset="utf-8">
{% else %}
<form action="{% url 'note:create' %}" method="post" accept-charset="utf-8">
{% endif %}

    {% csrf_token %}
    {% for field in form %}
    <p>
        <label>{{ field.label }}</label>
        {% if field.errors %}
	<div class="alert alert-danger" role="alert">
            {{ field.errors }}
	</div>
        {% endif %}
        {{ field }}
    </p>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />

{% if object %}
    <input class="button small" type="submit" value="Update Note"/>
{% else %}
    <input class="button small" type="submit" value="Create Note"/>
{% endif %}
</form>

</div>

</div>

{% wysiwyg_editor "id_body" %}

{% endblock %}
