{% extends "base.html" %}

{% block extra_head %}
{% load wysiwyg %}
{% wysiwyg_setup %}
{% endblock %}

{% block content %}

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% if object %}
<form action="{% url 'note:update' object.pk %}" method="post" accept-charset="utf-8">
{% else %}
<form action="{% url 'note:create' %}" method="post" accept-charset="utf-8">
{% endif %}

    {% csrf_token %}
    {% for field in form %}
    <p>
        <label>{{ field.label }}</label>
        {% if field.errors %}
	<div class="alert alert-danger" role="alert">
            {{ field.errors }}
	</div>
        {% endif %}
        {{ field }}
    </p>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input class="button small" type="submit" value="Submit"/>
</form>

{% wysiwyg_editor "id_body" %}

{% endblock %}
