{% extends "base.html" %}

{% block extra_head %}
{% load wysiwyg %}
{% wysiwyg_setup %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xs-4">
            <nav id="sidebar">

              <div class="new-note">
                <a href="{% url 'note:create' %}" class="new-note btn btn-default">+ New Note</a>
              </div>

              {% if notes %}
              <ul id="notes">
                  {% for note in notes %}
                    <li data-url="{% url 'note:update' note.id %}">
                        <div class="note-title">{{ note.title }}</div>
                        <div class="note-body">{{ note.body | safe }}</div>
                    </li>
                  {% endfor %}
              </ul>
              {% else %}
                <p id="nonotes">No notes are available.</p>
              {% endif %}
            </nav>
        </div>

        <div class="col-xs-8">

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if object %}
        <form action="{% url 'note:update' object.pk %}" method="post" accept-charset="utf-8">
        {% else %}
        <form action="{% url 'note:create' %}" method="post" accept-charset="utf-8">
        {% endif %}

            {% csrf_token %}
            {% for field in form %}
            <p>
                {% if field.errors %}
            	<div class="alert alert-danger" role="alert">
                    {{ field.errors }}
            	</div>
                {% endif %}
                {{ field }}
            </p>
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}" />

        {% if object %}
            <input class="btn btn-default" type="submit" value="Update Note"/>
        {% else %}
            <input class="btn btn-default" type="submit" value="Create Note"/>
        {% endif %}
        </form>

        </div>
    </div>

{% wysiwyg_editor "id_body" %}

{% endblock %}
