{% extends "base.html" %}

{% block extra_head %}
    <script crossorigin src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-4">
            <nav id="sidebar">

              <div class="new-note">
                <a href="{% url 'note:create' %}" class="new-note btn btn-default">+ New Note</a>
              </div>

              {% if notes %}
              <ul id="notes">
                  {% for note in notes %}
                    <li data-url="{% url 'note:update' note.id %}">
                        <div class="note-title">{{ note.title }}</div>
                        <div class="note-body">{{ note.body | safe }}</div>
                    </li>
                  {% endfor %}
              </ul>
              {% else %}
                <p id="nonotes">No notes are available.</p>
              {% endif %}
            </nav>
        </div>

        <div class="col-8">

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if object %}
        <form action="{% url 'note:update' object.pk %}" method="post" accept-charset="utf-8">
        {% else %}
        <form action="{% url 'note:create' %}" method="post" accept-charset="utf-8">
        {% endif %}
        {{ form.media }}

            {% csrf_token %}
            {% for field in form %}
            <p>
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </div>
                {% endif %}
                {{ field }}
            </p>
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}" />

        {% if object %}
            <input class="btn btn-primary" type="submit" value="Update Note"/>
        {% else %}
            <input class="btn btn-primary" type="submit" value="Create Note"/>
        {% endif %}
        </form>

    {% if object %}
      <form action="{% url 'note:delete' object.pk %}" method="post" id="delete-note-form">
            {% csrf_token %}
            <a class="btn btn-danger" id="delete-note">
          <span class="fas fa-trash fa-inverse" aria-hidden="true"></span>
        </a>
      </form>

        <div id="workflow-widget" />

        </div>
    </div>

    <script type="text/babel">
    class WorkflowStatus extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                workflow_state: '{{ note.workflow_state }}' // set based on the model
            }
        }

        // instance of websocket connection as a class property
        ws = new WebSocket('ws://localhost:8000/notifications/')

        componentDidMount() {
            this.ws.onopen = () => {
                // on connecting, do nothing but log it to the console
                console.log('connected')
            }

            this.ws.onmessage = evt => {
                // listen to data sent from the websocket server
                const message = JSON.parse(evt.data)
                if (message['note_id'] === {{ note.id }}) {
                    this.setState(message)
                }
                console.log(message)
            }

            this.ws.onclose = () => {
            console.log('disconnected')
            // automatically try to reconnect on connection loss
            }
        }


        retracted = () => {
            console.log("got a message that we are now draft")
            this.setState({workflow_state: 'draft'})
        }
        published = () => {
            console.log("got a message that we are now published")
            this.setState({workflow_state: 'published'})
        }
        retract = () => {
            console.log("Retracting")
            fetch('{% url 'Note-retract' pk=note.id %}')
                .then((response) => {
                  return response.json();
                })
                .then((data) => {
                  console.log(data);
                });

            this.setState({workflow_state: 'draft'})
        }
        publish = () => {
            console.log("Publishing")
            fetch('{% url 'Note-publish' pk=note.id %}')
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    console.log(data);
                });

            this.setState({workflow_state: 'published'})
        }
        render() {
            const wf_state = this.state.workflow_state
            const can_publish = wf_state === 'draft'
            const can_retract = wf_state === 'published'
            return (<div>
                <button className={"btn" + (can_publish ? ' btn-outline-secondary disabled':' btn-primary')} disabled={can_publish} aria-disabled={can_publish} type="button" onClick={this.retract}>Retract</button>
                <button className={"btn" + (can_retract ? ' btn-outline-secondary disabled':' btn-primary')} disabled={can_retract} aria-disabled={can_retract} type="button" onClick={this.publish}>Publish</button>
            </div>)
        }
    }

    const mount = document.getElementById('workflow-widget');
    const workflowStatus = <WorkflowStatus />
    ReactDOM.render(workflowStatus, mount)
    </script>
    {% endif %}

{% endblock %}
